<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <connectionStrings>
    <!-- ローカル環境のMySQLサーバーに接続するための設定 -->
    <add name="mysql"
         connectionString="Server=localhost; User=root; Password=passW0rd!@; Database=test;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
